body {
    font-family: Tahoma;
    font-size: 13px;
    width: 1140px;
    margin: 0px auto;
}
#top {
    width: 100%;
    height: auto;
}
#main {
    min-height: 1300px;
    display: flex;
    justify-content: space-between;
}
#main #left {
    width: 20%;
    
}
#main #center {
    width: 59%;
}
#main #right {
    width: 20%;

   
}
#footer {
    width: 100%;
    height: 160px;
}

#top #banner img {
    width: 100%;
}

.header {
    background-color: rgb(209, 6, 6);
    width: auto;
    font-size: 22px;
    color: #FFF;
    
}
.header1 {
    background-color: rgb(209, 6, 6);
    width: auto;
    font-size: 16px;
    color: #FFF;
    text-align: left;  
}
#top #menu ul {
    display: flex;
    margin: 0;
}
#top #menu ul li {
    list-style:  none;
    
   
}
#top #menu ul li a {
    text-decoration: none;
    /* text-decoration: none; loại bỏ gạch chân */
    display: block;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    padding: 0px 20px 0px 20px;
    border-right: 1px solid rgb(141, 1, 1);
}
#top #qc1 img {
    width: 100%;
} 

#main #left #danhmucsp ul li{
    display: flex;
    padding: 0px 20px 0px 20px;
    background-color: rgb(252, 147, 26);
    list-style: none;
    border-bottom: 1px solid rgb(255, 255, 255) ;
    align-items: center;
}
#main #left #danhmucsp ul li a{
    text-decoration: none;
    padding: 0px 5px;
    height: 35px;
    line-height: 35px;
    color: rgb(253, 253, 253);
    display: flex;
}
.qc img {
    width: 100%;

}
.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-sp {
    width: 30%;  
    height: 200px;
    margin: 15px 10px;
}
#top #search {
    display: flex;
    background-color: rgba(10, 53, 96, 0.979);
    color: rgb(185, 3, 3); 
}
.search-1{
    display: flex;
    align-items: center;
    /* align-items: center -> căn giữa chữ 2 khối */
    color: rgb(248, 247, 247);
}
#top #search marquee {
    width: 73%;
    font-size: 20px;
    font-weight: bolder;
}
.sub-menu {
    margin: 0;
    padding: 0;
}
.sub-menu li img {
    width: auto;
    height: 12px;
}
.text-sub-menu {
    font-size: 18px;
}
h3 {
    text-align: center;
    height: 40px;
    margin: 0;
    line-height: 40px;
}
#main #right .sub-right img {
    width: 60%;
    height: 35px;
    margin: 5px 10px;
}
.sub-right {
    width: 100%;
    background-color: #FFF;
    text-align: center;
}
#main #right #spbc {
    width: auto;
 

   
}
#main #right #spbc1 {
    width: auto;
    height: 300px;
    overflow: auto;
   
}
#main #right #spbc .sub-spbc {
    background-color: #FFF;
    width: 100%;
    height: auto;
    text-align: center;
}
.text-spbc {
    font-size: 12px;
    color: rgb(3, 3, 223);
    margin: 0px;


}
#main #center .header2 p {
    width: 100%;
    height: 35px;
    background-color: rgb(209, 6, 6);
    font-size: 18px;
    margin: 0;
    color: #FFF;
    text-indent: 10px;
    line-height: 35px;
}
h4 {
    height: 25px;
    color: black ;
    margin: 0px 15px ;
    font-family: Arial;
}
.item-sp {
    text-align: center;
}
.item-sp .pic {
    width: 190px;
    height: 168px;
    border: 0.5px solid rgb(214, 214, 214);
    text-align: center;
    margin: 2px;
}
.pic img {
    width: 90%;
    height: auto;  
}
.tensp {
    font-size: 14px;
    color: rgb(3, 3, 223);
    font-family:Tahoma;
    font-weight: bold;
    margin: 0;  
}
.gia {
    margin: 0;
}
#footer {
    background-color: rgba(10, 53, 96, 0.979);
    color: #FFF;
    text-align: center;

}
#sub-ft {
    padding: 20px;
}
#sub-ft p{
    margin: 3px;
    font-size: 16px;
    

}